## UK HPI - Sourced Data Clean

### This script contains the following:
1. Importing libraries and data
2. Cleaning data set
3. Saving cleaned data set

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/andrew/Documents/Data Analyst Course/Data Immersion/Achievement 6/UK HPI Project/'

In [3]:
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'UK_HPI.csv'))

In [4]:
df.head()

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,...,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume,Official Interest Rate
0,1/4/1968,East Midlands,E12000004,3025.670615,1.968954,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/4/1968,England,E92000001,3408.108064,1.680067,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/4/1968,London,E12000007,4418.489911,1.096815,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/4/1968,Northern Ireland,N92000001,3661.485500,3.300420,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/4/1968,Scotland,S92000003,2844.980688,2.108087,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134211 entries, 0 to 134210
Data columns (total 55 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    134211 non-null  object
 1   RegionName              134211 non-null  object
 2   AreaCode                134211 non-null  object
 3   AveragePrice            134211 non-null  float64
 4   Index                   134211 non-null  float64
 5   IndexSA                 4434 non-null    float64
 6   1m%Change               133760 non-null  float64
 7   12m%Change              129075 non-null  float64
 8   AveragePriceSA          4434 non-null    float64
 9   SalesVolume             129700 non-null  float64
 10  DetachedPrice           128052 non-null  float64
 11  DetachedIndex           128052 non-null  float64
 12  Detached1m%Change       127635 non-null  float64
 13  Detached12m%Change      123072 non-null  float64
 14  SemiDetachedPrice       128058 non-null  float64
 15  SemiDetachedIndex       128058 non-null  float64
 16  SemiDetached1m%Change   127641 non-null  float64
 17  SemiDetached12m%Change  123078 non-null  float64
 18  TerracedPrice           128085 non-null  float64
 19  TerracedIndex           128085 non-null  float64
 20  Terraced1m%Change       127668 non-null  float64
 21  Terraced12m%Change      123105 non-null  float64
 22  FlatPrice               128376 non-null  float64
 23  FlatIndex               128376 non-null  float64
 24  Flat1m%Change           127958 non-null  float64
 25  Flat12m%Change          123384 non-null  float64
 26  CashPrice               47196 non-null   float64
 27  CashIndex               47196 non-null   float64
 28  Cash1m%Change           46782 non-null   float64
 29  Cash12m%Change          42228 non-null   float64
 30  CashSalesVolume         46367 non-null   float64
 31  MortgagePrice           47196 non-null   float64
 32  MortgageIndex           47196 non-null   float64
 33  Mortgage1m%Change       46782 non-null   float64
 34  Mortgage12m%Change      42228 non-null   float64
 35  MortgageSalesVolume     46368 non-null   float64
 36  FTBPrice                47592 non-null   float64
 37  FTBIndex                47592 non-null   float64
 38  FTB1m%Change            47178 non-null   float64
 39  FTB12m%Change           42624 non-null   float64
 40  FOOPrice                47196 non-null   float64
 41  FOOIndex                47196 non-null   float64
 42  FOO1m%Change            46782 non-null   float64
 43  FOO12m%Change           42228 non-null   float64
 44  NewPrice                127541 non-null  float64
 45  NewIndex                127541 non-null  float64
 46  New1m%Change            127123 non-null  float64
 47  New12m%Change           122549 non-null  float64
 48  NewSalesVolume          127161 non-null  float64
 49  OldPrice                127544 non-null  float64
 50  OldIndex                127544 non-null  float64
 51  Old1m%Change            127126 non-null  float64
 52  Old12m%Change           122552 non-null  float64
 53  OldSalesVolume          127534 non-null  float64
 54  Official Interest Rate  133401 non-null  float64
dtypes: float64(52), object(3)
memory usage: 56.3+ MB

In [6]:
# Check shape of df
df.shape

(134211, 55)

In [7]:
# check types 
df.dtypes

Date                       object
RegionName                 object
AreaCode                   object
AveragePrice              float64
Index                     float64
IndexSA                   float64
1m%Change                 float64
12m%Change                float64
AveragePriceSA            float64
SalesVolume               float64
DetachedPrice             float64
DetachedIndex             float64
Detached1m%Change         float64
Detached12m%Change        float64
SemiDetachedPrice         float64
SemiDetachedIndex         float64
SemiDetached1m%Change     float64
SemiDetached12m%Change    float64
TerracedPrice             float64
TerracedIndex             float64
Terraced1m%Change         float64
Terraced12m%Change        float64
FlatPrice                 float64
FlatIndex                 float64
Flat1m%Change             float64
Flat12m%Change            float64
CashPrice                 float64
CashIndex                 float64
Cash1m%Change             float64
Cash12m%Change            float64
CashSalesVolume           float64
MortgagePrice             float64
MortgageIndex             float64
Mortgage1m%Change         float64
Mortgage12m%Change        float64
MortgageSalesVolume       float64
FTBPrice                  float64
FTBIndex                  float64
FTB1m%Change              float64
FTB12m%Change             float64
FOOPrice                  float64
FOOIndex                  float64
FOO1m%Change              float64
FOO12m%Change             float64
NewPrice                  float64
NewIndex                  float64
New1m%Change              float64
New12m%Change             float64
NewSalesVolume            float64
OldPrice                  float64
OldIndex                  float64
Old1m%Change              float64
Old12m%Change             float64
OldSalesVolume            float64
Official Interest Rate    float64
dtype: object

In [8]:
pd.options.display.max_columns = None

In [9]:
df.head()

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume,Official Interest Rate
0,1/4/1968,East Midlands,E12000004,3025.670615,1.968954,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/4/1968,England,E92000001,3408.108064,1.680067,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/4/1968,London,E12000007,4418.489911,1.096815,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/4/1968,Northern Ireland,N92000001,3661.485500,3.300420,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/4/1968,Scotland,S92000003,2844.980688,2.108087,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Check for duplicates
df_dups = df[df.duplicated()]

In [11]:
df_dups

Empty DataFrame
Columns: [Date, RegionName, AreaCode, AveragePrice, Index, IndexSA, 1m%Change, 12m%Change, AveragePriceSA, SalesVolume, DetachedPrice, DetachedIndex, Detached1m%Change, Detached12m%Change, SemiDetachedPrice, SemiDetachedIndex, SemiDetached1m%Change, SemiDetached12m%Change, TerracedPrice, TerracedIndex, Terraced1m%Change, Terraced12m%Change, FlatPrice, FlatIndex, Flat1m%Change, Flat12m%Change, CashPrice, CashIndex, Cash1m%Change, Cash12m%Change, CashSalesVolume, MortgagePrice, MortgageIndex, Mortgage1m%Change, Mortgage12m%Change, MortgageSalesVolume, FTBPrice, FTBIndex, FTB1m%Change, FTB12m%Change, FOOPrice, FOOIndex, FOO1m%Change, FOO12m%Change, NewPrice, NewIndex, New1m%Change, New12m%Change, NewSalesVolume, OldPrice, OldIndex, Old1m%Change, Old12m%Change, OldSalesVolume, Official Interest Rate]
Index: []

In [12]:
# None found

In [13]:
# Drop AreaCode Column
df = df.drop(columns = ['AreaCode'])

In [14]:
# Drop IndexSA Column
df = df.drop(columns = ['IndexSA'])

In [15]:
# Drop AveragePriceSA Column
df = df.drop(columns = ['AveragePriceSA'])

In [16]:
# Check it's been updated
df.head()

,Date,RegionName,AveragePrice,Index,1m%Change,12m%Change,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume,Official Interest Rate
0,1/4/1968,East Midlands,3025.670615,1.968954,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/4/1968,England,3408.108064,1.680067,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/4/1968,London,4418.489911,1.096815,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/4/1968,Northern Ireland,3661.485500,3.300420,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/4/1968,Scotland,2844.980688,2.108087,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Replace all NaN values with 0
df = df.replace(np.nan, 0)

In [18]:
df.head()

,Date,RegionName,AveragePrice,Index,1m%Change,12m%Change,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume,Official Interest Rate
0,1/4/1968,East Midlands,3025.670615,1.968954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1/4/1968,England,3408.108064,1.680067,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/4/1968,London,4418.489911,1.096815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/4/1968,Northern Ireland,3661.485500,3.300420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/4/1968,Scotland,2844.980688,2.108087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df.describe()

,AveragePrice,Index,1m%Change,12m%Change,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume,Official Interest Rate
count,1.342110e+05,134211.000000,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,134211.000000,1.342110e+05,134211.000000,134211.000000,134211.000000,134211.000000,134211.000000
mean,1.634274e+05,79.255567,0.564992,6.264851,1157.696466,2.737702e+05,76.880681,0.481296,5.848656,1.750905e+05,76.380743,0.494443,6.006006,1.390507e+05,75.793135,0.500217,6.094223,1.077965e+05,79.334253,0.439878,5.417949,7.910926e+04,38.227582,0.131417,1.382196,108.953215,8.263146e+04,38.311919,0.136655,1.433418,242.505897,6.851990e+04,38.509102,0.133282,1.385322,9.218762e+04,38.338664,0.136555,1.439291,1.854286e+05,76.848678,0.512866,6.025660,121.082075,1.567188e+05,75.877106,0.478966,5.857645,1030.102957,3.037701
std,1.093340e+05,33.828848,2.000833,8.940264,7374.891913,2.478542e+05,35.270341,1.720731,8.019927,1.878993e+05,35.886357,1.710257,8.459564,1.387055e+05,36.154295,1.743957,8.800032,8.732090e+04,35.215872,1.786325,9.180978,1.317669e+05,52.628027,0.896041,3.319236,1169.381979,1.353100e+05,52.775205,0.894570,3.357210,2584.114181,1.130935e+05,52.684248,0.908627,3.355979,1.517787e+05,52.814931,0.896010,3.353963,1.181961e+05,36.497303,1.778515,8.284237,794.074005,1.116599e+05,35.655336,1.745179,8.588847,6594.366115,2.736837
min,2.712016e+03,1.096815,-30.297781,-35.786566,0.000000,0.000000e+00,0.000000,-19.628465,-30.193434,0.000000e+00,0.000000,-19.668017,-29.358801,0.000000e+00,0.000000,-19.960934,-29.446217,0.000000e+00,0.000000,-30.295111,-28.841733,0.000000e+00,0.000000,-19.179237,-27.416238,0.000000,0.000000e+00,0.000000,-19.090431,-27.917896,0.000000,0.000000e+00,0.000000,-19.083397,-28.292518,0.000000e+00,0.000000,-19.133937,-27.435825,0.000000e+00,0.000000,-29.816368,-28.851244,0.000000,0.000000e+00,0.000000,-30.587732,-30.341125,0.000000,0.000000
25%,9.159347e+04,45.444697,-0.440224,0.800547,131.000000,1.429454e+05,44.845547,-0.399038,0.266908,8.759489e+04,42.129922,-0.371709,0.254597,6.805120e+04,40.104934,-0.395144,0.087125,5.745526e+04,45.305394,-0.479876,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,9.974162e+04,42.855799,-0.394824,0.340064,8.000000,8.287107e+04,41.717318,-0.392053,0.000000,114.000000,0.500000
50%,1.443371e+05,87.686225,0.518197,5.114394,206.000000,2.256703e+05,85.447358,0.410076,4.822487,1.413306e+05,85.711544,0.422674,4.790006,1.134896e+05,86.069521,0.426008,4.771888,9.386454e+04,90.810242,0.354238,3.783462,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.750803e+05,85.611239,0.436566,4.914291,19.000000,1.400825e+05,85.945399,0.399740,4.580468,182.000000,3.500000
75%,2.055039e+05,104.108997,1.513763,10.433046,356.000000,3.263229e+05,102.072216,1.416553,9.952330,2.073548e+05,102.583902,1.402442,9.987919,1.689593e+05,103.101615,1.438311,10.262980,1.329418e+05,106.769503,1.380445,9.689537,1.476521e+05,99.291575,0.000000,0.785533,40.000000,1.566158e+05,99.306142,0.000000,1.001350,89.000000,1.315158e+05,99.421528,0.000000,0.849049,1.729536e+05,99.296917,0.000000,1.017131,2.390898e+05,102.518696,1.477428,10.256043,42.000000,2.013328e+05,102.519661,1.397780,9.965059,319.000000,5.250000
max,1.463378e+06,221.485238,35.286646,98.437940,146470.000000,3.755824e+06,197.988967,34.812357,92.630423,3.768069e+06,191.991575,35.295354,101.591679,2.589000e+06,217.656918,36.277412,106.853691,1.287157e+06,205.906634,36.067605,102.677794,1.461413e+06,161.927419,21.105819,52.385088,51356.000000,1.465566e+06,164.159602,21.487710,51.176273,84491.000000,1.278535e+06,162.001177,24.250435,50.819283,1.656861e+06,164.566228,21.329996,51.963758,1.264384e+06,185.158633,34.946588,96.170727,21097.333330,1.479584e+06,207.478740,35.552952,98.648458,136069.000000,17.000000

In [20]:
df.shape

(134211, 52)

In [21]:
print(df.describe())

       AveragePrice          Index      1m%Change     12m%Change  \
count  1.342110e+05  134211.000000  134211.000000  134211.000000
mean   1.634274e+05      79.255567       0.564992       6.264851
std    1.093340e+05      33.828848       2.000833       8.940264
min    2.712016e+03       1.096815     -30.297781     -35.786566
25%    9.159347e+04      45.444697      -0.440224       0.800547
50%    1.443371e+05      87.686225       0.518197       5.114394
75%    2.055039e+05     104.108997       1.513763      10.433046
max    1.463378e+06     221.485238      35.286646      98.437940

         SalesVolume  DetachedPrice  DetachedIndex  Detached1m%Change  \
count  134211.000000   1.342110e+05  134211.000000      134211.000000
mean     1157.696466   2.737702e+05      76.880681           0.481296
std      7374.891913   2.478542e+05      35.270341           1.720731
min         0.000000   0.000000e+00       0.000000         -19.628465
25%       131.000000   1.429454e+05      44.845547          -0.399038
50%       206.000000   2.256703e+05      85.447358           0.410076
75%       356.000000   3.263229e+05     102.072216           1.416553
max    146470.000000   3.755824e+06     197.988967          34.812357

       Detached12m%Change  SemiDetachedPrice  SemiDetachedIndex  \
count       134211.000000       1.342110e+05      134211.000000
mean             5.848656       1.750905e+05          76.380743
std              8.019927       1.878993e+05          35.886357
min            -30.193434       0.000000e+00           0.000000
25%              0.266908       8.759489e+04          42.129922
50%              4.822487       1.413306e+05          85.711544
75%              9.952330       2.073548e+05         102.583902
max             92.630423       3.768069e+06         191.991575

       SemiDetached1m%Change  SemiDetached12m%Change  TerracedPrice  \
count          134211.000000           134211.000000   1.342110e+05
mean                0.494443                6.006006   1.390507e+05
std                 1.710257                8.459564   1.387055e+05
min               -19.668017              -29.358801   0.000000e+00
25%                -0.371709                0.254597   6.805120e+04
50%                 0.422674                4.790006   1.134896e+05
75%                 1.402442                9.987919   1.689593e+05
max                35.295354              101.591679   2.589000e+06

       TerracedIndex  Terraced1m%Change  Terraced12m%Change     FlatPrice  \
count  134211.000000      134211.000000       134211.000000  1.342110e+05
mean       75.793135           0.500217            6.094223  1.077965e+05
std        36.154295           1.743957            8.800032  8.732090e+04
min         0.000000         -19.960934          -29.446217  0.000000e+00
25%        40.104934          -0.395144            0.087125  5.745526e+04
50%        86.069521           0.426008            4.771888  9.386454e+04
75%       103.101615           1.438311           10.262980  1.329418e+05
max       217.656918          36.277412          106.853691  1.287157e+06

           FlatIndex  Flat1m%Change  Flat12m%Change     CashPrice  \
count  134211.000000  134211.000000   134211.000000  1.342110e+05
mean       79.334253       0.439878        5.417949  7.910926e+04
std        35.215872       1.786325        9.180978  1.317669e+05
min         0.000000     -30.295111      -28.841733  0.000000e+00
25%        45.305394      -0.479876        0.000000  0.000000e+00
50%        90.810242       0.354238        3.783462  0.000000e+00
75%       106.769503       1.380445        9.689537  1.476521e+05
max       205.906634      36.067605      102.677794  1.461413e+06

           CashIndex  Cash1m%Change  Cash12m%Change  CashSalesVolume  \
count  134211.000000  134211.000000   134211.000000    134211.000000
mean       38.227582       0.131417        1.382196       108.953215
std        52.628027       0.896041        3.319236      1169.381979
min         0.000000     -19.179237      -27.416238         0.000000
25%         0.000000       0.000000        0.000000         0.000000
50%         0.000000       0.000000        0.000000         0.000000
75%        99.291575       0.000000        0.785533        40.000000
max       161.927419      21.105819       52.385088     51356.000000

       MortgagePrice  MortgageIndex  Mortgage1m%Change  Mortgage12m%Change  \
count   1.342110e+05  134211.000000      134211.000000       134211.000000
mean    8.263146e+04      38.311919           0.136655            1.433418
std     1.353100e+05      52.775205           0.894570            3.357210
min     0.000000e+00       0.000000         -19.090431          -27.917896
25%     0.000000e+00       0.000000           0.000000            0.000000
50%     0.000000e+00       0.000000           0.000000            0.000000
75%     1.566158e+05      99.306142           0.000000            1.001350
max     1.465566e+06     164.159602          21.487710           51.176273

       MortgageSalesVolume      FTBPrice       FTBIndex   FTB1m%Change  \
count        134211.000000  1.342110e+05  134211.000000  134211.000000
mean            242.505897  6.851990e+04      38.509102       0.133282
std            2584.114181  1.130935e+05      52.684248       0.908627
min               0.000000  0.000000e+00       0.000000     -19.083397
25%               0.000000  0.000000e+00       0.000000       0.000000
50%               0.000000  0.000000e+00       0.000000       0.000000
75%              89.000000  1.315158e+05      99.421528       0.000000
max           84491.000000  1.278535e+06     162.001177      24.250435

       FTB12m%Change      FOOPrice       FOOIndex   FOO1m%Change  \
count  134211.000000  1.342110e+05  134211.000000  134211.000000
mean        1.385322  9.218762e+04      38.338664       0.136555
std         3.355979  1.517787e+05      52.814931       0.896010
min       -28.292518  0.000000e+00       0.000000     -19.133937
25%         0.000000  0.000000e+00       0.000000       0.000000
50%         0.000000  0.000000e+00       0.000000       0.000000
75%         0.849049  1.729536e+05      99.296917       0.000000
max        50.819283  1.656861e+06     164.566228      21.329996

       FOO12m%Change      NewPrice       NewIndex   New1m%Change  \
count  134211.000000  1.342110e+05  134211.000000  134211.000000
mean        1.439291  1.854286e+05      76.848678       0.512866
std         3.353963  1.181961e+05      36.497303       1.778515
min       -27.435825  0.000000e+00       0.000000     -29.816368
25%         0.000000  9.974162e+04      42.855799      -0.394824
50%         0.000000  1.750803e+05      85.611239       0.436566
75%         1.017131  2.390898e+05     102.518696       1.477428
max        51.963758  1.264384e+06     185.158633      34.946588

       New12m%Change  NewSalesVolume      OldPrice       OldIndex  \
count  134211.000000   134211.000000  1.342110e+05  134211.000000
mean        6.025660      121.082075  1.567188e+05      75.877106
std         8.284237      794.074005  1.116599e+05      35.655336
min       -28.851244        0.000000  0.000000e+00       0.000000
25%         0.340064        8.000000  8.287107e+04      41.717318
50%         4.914291       19.000000  1.400825e+05      85.945399
75%        10.256043       42.000000  2.013328e+05     102.519661
max        96.170727    21097.333330  1.479584e+06     207.478740

        Old1m%Change  Old12m%Change  OldSalesVolume  Official Interest Rate
count  134211.000000  134211.000000   134211.000000           134211.000000
mean        0.478966       5.857645     1030.102957                3.037701
std         1.745179       8.588847     6594.366115                2.736837
min       -30.587732     -30.341125        0.000000                0.000000
25%        -0.392053       0.000000      114.000000                0.500000
50%         0.399740       4.580468      182.000000                3.500000
75%         1.397780       9.965059      319.000000                5.250000
max        35.552952      98.648458   136069.000000               17.000000

In [ ]:
# Properties for England and Wales only begin to be added from 01/01/1995 so will remove all previous data before these dates

In [22]:
# Reset index to be the date
df_2 = df.set_index('Date')

In [23]:
# Filter out dates before 1st Jan 1995
df_2 = df_2.loc['1/1/1995':]

In [24]:
df_2.head()

,RegionName,AveragePrice,Index,1m%Change,12m%Change,SalesVolume,DetachedPrice,DetachedIndex,Detached1m%Change,Detached12m%Change,SemiDetachedPrice,SemiDetachedIndex,SemiDetached1m%Change,SemiDetached12m%Change,TerracedPrice,TerracedIndex,Terraced1m%Change,Terraced12m%Change,FlatPrice,FlatIndex,Flat1m%Change,Flat12m%Change,CashPrice,CashIndex,Cash1m%Change,Cash12m%Change,CashSalesVolume,MortgagePrice,MortgageIndex,Mortgage1m%Change,Mortgage12m%Change,MortgageSalesVolume,FTBPrice,FTBIndex,FTB1m%Change,FTB12m%Change,FOOPrice,FOOIndex,FOO1m%Change,FOO12m%Change,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume,Official Interest Rate
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1/1/1995,Adur,54516.42545,21.836620,0.0,0.0,79.0,85482.01252,22.699081,0.0,0.0,59598.67451,21.526612,0.0,0.0,48955.96381,20.454703,0.0,0.0,38126.03274,23.790740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59255.49943,22.378461,0.0,0.0,11.0,54372.37389,21.788639,0.0,0.0,68.0,6.13
1/1/1995,Allerdale,44464.03724,32.815689,0.0,0.0,70.0,67547.91981,34.139554,0.0,0.0,42776.09928,32.499311,0.0,0.0,35513.54992,31.944308,0.0,0.0,32808.34708,35.863600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60041.84226,33.876423,0.0,0.0,9.0,43138.66035,32.908903,0.0,0.0,61.0,6.13
1/1/1995,Amber Valley,45424.80814,31.551992,0.0,0.0,114.0,66983.19796,32.574116,0.0,0.0,40407.89905,31.274357,0.0,0.0,33439.34928,30.722479,0.0,0.0,30527.41852,33.568263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63207.94539,31.262341,0.0,0.0,16.0,44721.87801,31.570205,0.0,0.0,98.0,6.13
1/1/1995,Arun,59473.60257,25.259505,0.0,0.0,222.0,95785.74537,25.677194,0.0,0.0,59760.25847,24.785972,0.0,0.0,47531.81490,23.787813,0.0,0.0,39097.34709,27.485736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67718.47861,24.467387,0.0,0.0,21.0,58827.71158,25.301688,0.0,0.0,201.0,6.13
1/1/1995,Ashfield,38911.87777,33.500470,0.0,0.0,97.0,56968.65464,35.040323,0.0,0.0,35332.04192,33.051218,0.0,0.0,28723.84563,32.349616,0.0,0.0,25217.73531,37.376892,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48136.98634,32.748969,0.0,0.0,23.0,38664.77907,34.044514,0.0,0.0,74.0,6.13

In [25]:
# Save this dataset 
df_2.to_csv(os.path.join(path, 'Data','Prepared Data', 'UK_HPI_CLEANED_1995.csv'))